html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}

/*
 * Main
 */
body {
  font: 12pt 'Lucida Grande', Arial, sans-serif;
  color: #404040;
  background: #eee;
  line-height: 1;
}

section.origin {
  padding: 5px 0px 10px 5px;
  vertical-align: baseline;
  display: block;
}

.origin h1 {
  padding: 0px 7px 7px 0px;
  line-height: 2;
  font-weight: bold;
}

.origin b {
  line-height: 1.5;
  font-weight: bold;
  display: inline;
}

section.infoblock {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}

/*
 * Tags
 */

section.tagcloud {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: block;
    overflow: auto;
}

.red a {
  background: #eb6b22;
  border-color: #d15813 #c85412 #bf5011;
  background-image: -webkit-linear-gradient(top, #ed7b39, #df5e14);
  background-image: -moz-linear-gradient(top, #ed7b39, #df5e14);
  background-image: -o-linear-gradient(top, #ed7b39, #df5e14);
  background-image: linear-gradient(to bottom, #ed7b39, #df5e14);
  -webkit-box-shadow: inset 1px 0 #3a6b1e;
  box-shadow: 2px 2px 2px #bbbbbb;
}

.green a {
  background: #65bb34;
  border-color: #549b2b #4f9329 #4b8b27;
  background-image: -webkit-linear-gradient(top, #71ca3f, #5aa72e);
  background-image: -moz-linear-gradient(top, #71ca3f, #5aa72e);
  background-image: -o-linear-gradient(top, #71ca3f, #5aa72e);
  background-image: linear-gradient(to bottom, #71ca3f, #5aa72e);
  -webkit-box-shadow: inset 1px 0 #3a6b1e;
  box-shadow: 2px 2px 2px #bbbbbb;
}

.blue a {
  background: #56a3d5;
  border-color: #3591cd #318cc7 #2f86be;
  background-image: -webkit-linear-gradient(top, #6aaeda, #4298d0);
  background-image: -moz-linear-gradient(top, #6aaeda, #4298d0);
  background-image: -o-linear-gradient(top, #6aaeda, #4298d0);
  background-image: linear-gradient(to bottom, #6aaeda, #4298d0);
  -webkit-box-shadow: inset 1px 0 #276f9e;
  box-shadow: 2px 2px 2px #bbbbbb;
}

.grey {
    background: #d5d5d0;
    border-color: #cdcbc5 #c7bfbd #bebab6;
    background-image: -webkit-linear-gradient(top, #dad4d2, #d0cac7);
    background-image: -moz-linear-gradient(top, #dad4d2, #d0cac7);
    background-image: -o-linear-gradient(top, #dad4d2, #d0cac7);
    background-image: linear-gradient(to bottom, #dad4d2, #d0cac7);
    -webkit-box-shadow: inset 1px 0 #9e9999;
    box-shadow: 2px 2px 2px #bbbbbb;
}

.group {
    float: left;
    margin: 5px;
    width: auto;
    font: inherit;
    vertical-align: baseline;
    display: block;
}

.outline {
    float: left;
    margin: 5px;
    width: auto;
    font: inherit;
    vertical-align: baseline;
    display: block;

    background-color: transparent;
    border: 1px solid rgba(35, 49, 68, 0.35);
    border-radius: 8px;
    color: #233144;
}

.tag {  
    float: left; 
    margin: 5px;    
    width: auto;
    font: inherit;
    vertical-align: baseline;
    display: block;
}
 
.tag a {
    padding: 7px 8px;     
    color: #0F2D39;
    font-size: 12pt;
    text-decoration: none;    
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);    
    border: 1px solid;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #dadada #d2d2d2 #c5c5c5;
    border-radius: 3px 3px 3px 3px;    
    border-opacity:0.7;
}
 