<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Coocoock Tagcloud</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <section class="origin">
            <h1>Recipe submitted, processing...</h1>
            <b>Title</b>: {{title}} <br>
            <b>Origin</b>: {{origin}} <br>
        </section>
        <section class="tagcloud">
            {{content}}
        </section>
        <section class="origin">
            <h1>Ingredients</h1>
            {TODO}
        </section>
        <section class="origin">
            <h1>Graph</h1>
            {TODO}
        </section>
    </body>
</html>